package {{package}}.model;

import io.quarkus.kafka.client.serialization.ObjectMapperDeserializer;

public class {{name}}Deserializer extends ObjectMapperDeserializer<{{name}}> {

    public {{name}}Deserializer() {
        super({{name}}.class);
    }
}
