package {{package}}.service;

import {{package}}.model.*;

import org.eclipse.microprofile.reactive.messaging.Incoming;

import io.smallrye.reactive.messaging.kafka.Record;
import jakarta.enterprise.context.ApplicationScoped;
import jakarta.inject.Inject;

@ApplicationScoped
public class {{serviceName}} {
  @Inject {{delegateInterfaceName}} delegate;

  @Incoming("{{name}}")
  public void {{subscribe.operationId}}(Record<{{subscribe.message.kafkaMessageBinding.key.name}}, {{subscribe.message.payload.name}}> record) {
    return delegate.{{subscribe.operationId}}(record);
  }
}