package {{package}}.service;

import {{package}}.model.*;

public interface {{delegateInterfaceName}} {
    default void consume({{subscribe.message.payload.javaDataType}} payload) {
        throw new RuntimeException("Not implemented!");
    }
}