package {{package}}.service;

import {{package}}.model.*;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.kafka.annotation.KafkaListener;
import org.springframework.stereotype.Service;

@Service
public class {{serviceName}} {
    @Autowired
    private {{delegateInterfaceName}} delegate;

    @KafkaListener(
        containerFactory = "{{name}}KafkaListenerContainerFactory",
        topics = "${app.kafka.consumer.{{name}}.topic{{#kafkaChannelBinding.topic}}:{{kafkaChannelBinding.topic}}{{/kafkaChannelBinding.topic}} }",
        groupId = "${app.kafka.consumer.{{name}}.groupId{{#subscribe.kafkaChannelItemBinding.groupId}}:{{subscribe.kafkaChannelItemBinding.groupId}}{{/subscribe.kafkaChannelItemBinding.groupId}} }")
    public void consume({{subscribe.message.payload.javaDataType}} payload) {
        delegate.consume(payload);
    }
}